<div class="container-fluid">
  <h1 class="text-center py-5">Proveedores</h1>
  <div class="d-flex justify-content-end">
    <input type="search" class="form-control" style="width: 200px;" id="buscador" placeholder="Buscar ...">
    <!-- Button trigger modal -->
    <button class="btn btn-primary mx-4" routerLink="/Formulario">Agregar</button>
  </div>
  <div class="d-flex p-4">
    <!-- Inicio de la tabla -->
    <table class="table border">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dirección</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Documento</th>
          <th>Número de Documento</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (proveedor of proveedor; track proveedor.id) {
        <tr>
          <td>{{proveedor.id}}</td>
          <td>{{proveedor.nombre}}</td>
          <td>{{proveedor.apellido}}</td>
          <td>{{proveedor.direccion}}</td>
          <td>{{proveedor.celular}}</td>
          <td>{{proveedor.email}}</td>
          <td>{{proveedor.documento}}</td>
          <td>{{proveedor.documentoN}}</td>
          <td>{{proveedor.estado}}</td>
          <td class="row row-gap-2">
            <button class="btn btn-primary mx-2 col-auto"
              [routerLink]="['/Formulario', proveedor.id, 'edit']">Editar</button>
              <button class="btn btn-secondary col-auto" >Eliminar</button>

          </td>
        </tr>
        }
      </tbody>
    </table>
    <!---Fin de la tabla -->
  </div>
</div>